@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
}